{ "login": ""
, "password": ""
, "appID": ""
, "imageURL": "http://wow.zamimg.com/images/hearthstone/cards/"
, "soundURL": "http://example.com/"
, "jsonURL": "https://hearthstonejson.com/json/"
, "data": "/home/birch/"
, "aliases": {}
, "permissions":
    { "admins": []
    , "honored": []
    , "banned": []
    }
, "quotebanned": []
, "quotecd": 0
, "autoaccept": false
}
